spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    root: INFO

cors:
  allowed-origins:
    - https://recsys02client.vercel.app
    - http://43.200.93.100:8000

springdoc:
  swagger-ui:
    server-url: http://43.200.93.100:8000/core
